<div class="modal account-modal" tabindex="-1" [ngClass]="{ 'show': isOpen }" (click)="close()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tu cuenta</h5>
        <button type="button" class="btn-close-top" (click)="close()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <h5>Hola, {{ username }}!</h5>
        <button class="btn" (click)="openTop3()"><i class="fas fa-heart"></i> 
          Tus recetas Top 3</button>
          <button class="btn" (click)="goToFeaturedRecipe()">
            <i class="fas fa-utensils"></i> Receta del Mes
          </button>
          

        <!-- Botón Mapa -->
        <button class="btn account-btn" (click)="goToMap()">
          <i class="fas fa-map-marker-alt"></i>
          <span> Mapa</span>
        </button>

        <!-- Botón Recetas IA -->
        <button class="btn account-btn" (click)="goToIARecipes()">
          <i class="fas fa-robot"></i>
          <span> IA</span>
        </button>

        <button class="btn btn-logout" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>

<app-top3-modal #top3Modal></app-top3-modal>