.modal.account-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;

  &.show {
    display: block;
  }

  .modal-dialog {
    margin: 15vh auto;
    max-width: 400px;
    
    @media (max-width: 576px) {
      margin: 10vh 15px;
    }
  }

  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: relative; // Para el botón de cierre absoluto
  }

  .modal-header {
    display: flex;
    justify-content: center !important; /* Centra horizontalmente el contenido */
    align-items: center; /* Asegura alineación vertical */
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 15px;

    .modal-title {
      font-size: 1.6rem;
      font-weight: 600;
      color: #333;
      text-align: center; /* Si lo necesitas centrado */
    }
  }

  .modal-body {
    padding: 20px 0;
    h5 {
      margin-bottom: 20px; /* Añade un espacio entre el saludo y los botones */
      font-size: 1.2rem;
      font-weight: 600;
      color: #333;
      text-align: center; /* Centra el texto para más estética */
    }
    
    .btn {
      background-color: #FF6200;
      color: #fff;
      border-radius: 2rem;
      padding: 10px 20px;
      font-size: 1rem;
      width: 100%;
      margin-bottom: 15px;
      text-align: center;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: #038009;
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(0);
      }

      &.btn-logout {
        background-color: white;
        color: #333333; // Un gris oscuro para el texto
        border: 2px solid #333333;
        border-radius: 2rem;
        padding: 10px 20px;
        font-weight: 500;
        transition: all 0.3s ease;
        width: 100%;
      
        &:hover {
          background-color: rgba(51, 51, 51, 0.1); // Una versión transparente del gris
          transform: translateY(-2px); // Mantiene la animación de elevación
        }
      }
    }
  }
}