<div class="container mt-3">
    <div class="border p-4 shadow form-custom">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h2 class="text-center mb-4">REGISTRO</h2>
  
        <div class="form-group mb-3">
          <label for="username" class="form-label">Nombre de usuario:</label>
          <input
            type="text"
            formControlName="username"
            id="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': isControlInvalid('username') }"
            required
          />
          <div class="text-danger mt-1">
            @if (isControlInvalid('username')) {
              @if (registerForm.controls['username'].errors?.['required']) {
                <small>Se requiere un nombre de usuario</small>
              }
              @if (registerForm.controls['username'].errors?.['pattern']) {
                <small>Introduce un nombre de usuario válido</small>
              }
            }
          </div>
        </div>
  
        <div class="form-group mb-3">
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': isControlInvalid('email') }"
            required
          />
          <div class="text-danger mt-1">
            @if (isControlInvalid('email')) {
              @if (registerForm.controls['email'].errors?.['required']) {
                <small>Se requiere un correo electrónico</small>
              }
              @if (registerForm.controls['email'].errors?.['email']) {
                <small>Introduce un correo electrónico válido</small>
              }
            }
          </div>
        </div>
  
        <div class="form-group mb-3">
          <label for="password" class="form-label">Contraseña:</label>
          <div class="password-field">
            <input 
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': isControlInvalid('password') }"
              placeholder="Contraseña">
            <i 
              class="fas" 
              [class.fa-eye]="!showPassword" 
              [class.fa-eye-slash]="showPassword"
              (click)="togglePasswordVisibility()"
            ></i>
            @if (isControlInvalid('password')) {
              <div class="invalid-feedback">La contraseña debe tener al menos 6 caracteres</div>
            }
          </div>
        </div>
  
        <div class="form-group mb-3">
          <div class="password-field">
            <label for="confirmPassword" class="form-label">Confirmar contraseña:</label>
            <input 
              [type]="showConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': isControlInvalid('confirmPassword') }"
              placeholder="Confirmar contraseña">
            <i 
              class="fas" 
              [class.fa-eye]="!showConfirmPassword" 
              [class.fa-eye-slash]="showConfirmPassword"
              (click)="toggleConfirmPasswordVisibility()"
            ></i>
            @if (isControlInvalid('confirmPassword')) {
              <div class="invalid-feedback">Las contraseñas no coinciden</div>
            }
          </div>
        </div>
  
        <button type="submit" class="btn w-100">Registrarse</button>
        @if (errorMessage) {
          <div class="text-danger mt-2">
            {{ errorMessage }}
          </div>
        }
      </form>
    </div>
  </div>
  