<!-- Agrega este div al inicio de tu página para el ancla -->

<!-- Footer -->
<footer class="footer">
  <div class="footer__container">
    <a href="#home" class="footer__logo">
      <img src="/icons/Food-Taco-icon.png" alt="Logo de MexiFlex">
    </a>
    <div class="footer__links">
      <ul>
        <li><a href="/sobre-nosotros">SOBRE NOSOTROS</a></li>
        <li><a href="/contactanos">CONTÁCTANOS</a></li>
        <li><a href="/terminos-de-uso">TÉRMINOS DE USO</a></li>
        <li><a href="/politica-de-privacidad">POLÍTICA DE PRIVACIDAD</a></li>
      </ul>
    </div>
    <div class="footer__social-media">
      <a href="https://www.facebook.com/MexiFlex" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.twitter.com/MexiFlex" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/MexiFlex" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__copyright">
      © 2023 MexiFlex. Todos los derechos reservados.
    </div>
  </div>
</footer>

