.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 30px 0;
  font-size: 1.1rem;
  color: #333;
  border-bottom: none;
  position: relative;
  z-index: 10;

  .navbar-brand {
    flex: 1; /* Ocupa 1/3 del espacio de la navbar */
    justify-content: flex-start;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;

    img {
      height: 35px;
      margin-right: 10px;
    }

    .logo-text {
      color: #080808;
    }
  }

  .nav-link {
    flex: 1; /* Ocupa 1/3 del espacio */
    color: #080808;
    padding: 0 30px; /* Añade espacio entre las tabs */
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
    position: relative;

    &:hover {
      color: #FF6200;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #FF6200;
      bottom: -3px;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  .btn-outline-danger,
  .btn-outline-success {
    font-weight: bold;
    color: #038009;
    border: 2px solid #038009;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #FF6200;
      color: #fff;
    }
  }

  .user-avatar {
    width: 37px;
    height: 3px;
    border-radius: 50%;
    border: 2px solid #FF6200;
   // margin-left: 10px;
  }

  .navbar-toggler {
    border: none;
    background: transparent;
    outline: none;
    box-shadow: none !important;
    margin-left: 10px;
    padding: 5px;
    width: 40px;
    height: 40px;

    .navbar-toggler-icon,
    .close-icon {
      font-size: 1.5rem;
      color: #FF6200;
      padding: 1px;
      margin-right: 1px;
      background-color: transparent;
    }
  }

  .nav-auth-buttons {
    flex: 1; /* Ocupa 1/3 del espacio */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;

    .fa-user {
      font-size: 2rem;
      color: #000;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #FF6200;
      }
    }

    .fa-sign-out-alt {
      font-size: 0.8rem; /* Tamaño más pequeño para logout */
      color: #FF6200;
      cursor: pointer;
     // margin-left: 10px; /* Separación con el avatar */
    }
  }
}

/* Para dispositivos móviles */
@media (max-width: 991px) {
  .navbar {
    position: relative;

    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 10px;
      font-size: 1.2rem;
    }

    .navbar-toggler {
      position: absolute;
      left: 10px;
      top: 10px;
    }

    .nav-auth-buttons {
      position: absolute;
      right: 10px;
      top: 10px;
      display: flex;
      align-items: center;
      .user-avatar {
        width: 27px; /* Más pequeño en móvil */
        height: 2px;
      }

      .fa-user {
        font-size: 1.5rem;
        color: #080808;
        &:hover {
          color: #FF6200;
        }
      }

      .fa-sign-out-alt {
        font-size: 1.2rem; /* Tamaño más pequeño para logout en móviles */
        margin-left: 5px; /* Ajusta el espacio entre avatar e icono */
      }
    }

    .navbar-collapse {
      margin-top: 50px;
    }
  }
}


/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 10px;
      font-size: 1rem;
    }

    .navbar-toggler {
      left: 10px;
      top: 10px;
    }

    .nav-auth-buttons {
      position: absolute;
      right: 10px;
      top: 10px;
      .user-avatar {
        width: 25px; /* Más pequeño en móvil */
        height: 25px;
      }
      .fa-sign-out-alt {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar-brand img {
    height: 30px;
  }

  .navbar-toggler {
    margin-left: 5px;
  }

  .nav-auth-buttons {
    margin-top: 10px;

    .fa-user {
      font-size: 1.6rem;
      margin-right: 10px;
    }

    .fa-sign-out-alt {
      font-size: 1rem; /* Ajusta el tamaño del logout icon */
      margin-left: 5px;
    }

    /* En móviles y tablets ocultamos el nombre de usuario */
    .text-dark {
      display: none;
    }
  }
}

/* Estilos para el modal y otros elementos */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
}

.modal.show {
  display: block;
}

.modal-dialog {
  position: relative;
  margin: 10vh auto;
  max-width: 400px;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;

  &:hover {
    color: #FF6200;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    background-color: #FF6200;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #038009;
    }
  }

  .register-legend {
    font-size: 0.9rem;
    color: #888;
    text-align: center;
    margin-top: 10px;
  }
}


//////////////// 
.modal-top {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  position: absolute;
  top: 50px; /* Ajusta según la posición del avatar */
  right: 20px; /* Ajusta según la posición */
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.modal-body {
  margin-top: 10px;
  .favorites-section {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #FF6200;
  }
  .btn-close-session {
    background-color: #FF6200;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      background-color: #D94C00;
    }
  }
}
