<nav class="navbar navbar-expand-lg" [ngClass]="{ 'scrolled': scrolled }">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="/icons/Food-Taco-icon.png" alt="Mexi-Flex">
      <span class="logo-text">MexiFlex</span>
    </a>

    <!-- Navbar toggler (para móviles) -->
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen">
      <i class="fa-solid fa-bars navbar-toggler-icon" [class.d-none]="isMenuOpen"></i>
      <i class="fa-solid fa-x close-icon" [class.d-none]="!isMenuOpen"></i>
    </button>

    <!-- Links del menú -->
    <div class="collapse navbar-collapse" id="navbarNav" [class.show]="isMenuOpen" (click)="closeMenu()">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recetas-ia" (click)="closeMenu()">
            <i class="fas fa-robot"></i> Recetas IA
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToRecipesAndCloseMenu()">
            <i class="fas fa-star"></i> Más Recetas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mapa" (click)="closeMenu()">
            <i class="fas fa-map-marker-alt"></i> Restaurantes & Productos
          </a>
        </li>
      </ul>
    </div>

    <!-- Botones de autenticación o avatar -->
    <div class="nav-auth-buttons">
      @if (authService.isLoggedIn()) {
        <img [src]="getAvatarUrl()" 
             alt="avatar" 
             class="user-avatar" 
             (click)="openAccountModal()">
      } @else {
        <i class="fa fa-user" (click)="openAuth.emit()"></i>
      }
    </div>
  </div>
</nav>
