<div class="header-container">
  <div class="text-container">
    <span class="rest-text">Recetas mexicanas</span>
    <span class="tradition"><span>tradicionales &</span></span>
    <span class="flexi">plant-based</span>
    <p class="header-description">Explora nuestros sabores tradicionales con sus alternativas plant-based</p>
  </div>
  
  <div class="image-background">
    <img src="/images/tacos-fb.jpg" alt="Tacos" />
  </div>

  <div class="scroll-indicator">
    <span>Descubre nuestras recetas</span>
    <i class="fas fa-chevron-down"></i>
  </div>
</div>