<app-header></app-header>

<div class="container mt-2">
  <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      @for (group of groupedRecipes; track $index) {
        <div class="carousel-item" [class.active]="$index === 0">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card">
                <img [src]="getImageUrl(group.versions[0]?.image)" class="card-img-top lazyload" [alt]="group.title">
                
                <div class="card-body">
                  <h5 class="card-title">{{ group.title }}</h5>
                  <p class="card-text">{{ group.generalDescription }}</p>
                  <p class="card-text">
                    <small class="text-muted">Tiempo promedio de preparación: {{ group.averagePreparationTime }} minutos</small>
                  </p>

                  <div class="d-flex justify-content-between">
                    <button (click)="openRecipeModal(group.traditionalVersion, 'Tradicional')" class="btn btn-traditional">Tradicional</button>
                    <button (click)="openRecipeModal(group.flexiVersion, 'Flexi')" class="btn btn-flexi">Flexi</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

    <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#recipeCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </a>
  </div>
</div>

@if (selectedRecipe) {
  <app-recipe-modal 
    [recipe]="selectedRecipe" 
    [category]="selectedCategory" 
    [portions]="selectedPortions" 
    [isUserLoggedIn]="isUserLoggedIn" 
    (closeModalEvent)="closeRecipeModal()">
  </app-recipe-modal>
}
