<div class="container mt-3">
  <div class="border p-4 shadow form-custom">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h2 class="text-center mb-4">INICIO DE SESIÓN</h2>

      <div class="form-group mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" formControlName="email" id="email" class="form-control"
          [ngClass]="{ 'is-invalid': isControlInvalid('email') }" required />
        <div class="text-danger mt-1">
          @if (isControlInvalid('email')) {
          @if (loginForm.controls['email'].errors?.['required']) {
          <small>Se requiere un correo electrónico</small>
          }
          @if (loginForm.controls['email'].errors?.['email']) {
          <small>Introduce un correo electrónico válido</small>
          }
          }
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <div class="password-field">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': isControlInvalid('password') }" placeholder="Contraseña">
          <i class="fas" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"
            (click)="togglePasswordVisibility()"></i>
          @if (isControlInvalid('password')) {
          <div class="invalid-feedback">La contraseña debe tener al menos 6 caracteres</div>
          }
        </div>
      </div>

      <button type="submit" class="btn w-100">Iniciar sesión</button>
      @if (errorMessage) {
      <div class="text-danger mt-2">
        {{ errorMessage }}
      </div>
      }
    </form>

    <div class="text-center mt-3">
      ¿No tienes cuenta? Regístrate aquí abajo.
      <button class="btn w-100" routerLink="/register">Registrarse</button>
    </div>
  </div>
</div>