<div class="map-container">
  <div class="filter-panel">
    <button
      (click)="toggleCategory('Restaurante')"
      [class.active-restaurant]="selectedCategories.has('Restaurante')"
      [class.inactive]="!selectedCategories.has('Restaurante')">
      Restaurantes & Bares
    </button>
    <button
      (click)="toggleCategory('Tienda')"
      [class.active-store]="selectedCategories.has('Tienda')"
      [class.inactive]="!selectedCategories.has('Tienda')">
      Tiendas de Productos
    </button>
  </div>

  <div id="map" class="map"></div>
</div>
