<div class="modal favorites-modal" tabindex="-1" [ngClass]="{ 'show': isOpen }" (click)="close()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tus recetas Top 3</h5>
        <button type="button" class="btn-close-top" (click)="close()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="mini-cards-container">
          @if (top3Favorites.length > 0) {
            @for (recipe of top3Favorites; track $index) {
              <div class="mini-card">
                <img [src]="recipeService.getImageUrl(recipe.image || '')" 
                     alt="{{ recipe.title }}" 
                     class="recipe-img" />
                <div class="recipe-details">
                  <!-- Categoría -->
                  <div
                    class="recipe-category"
                    [ngClass]="{
                      'category-traditional': recipe.category === 'Tradicional',
                      'category-flexi': recipe.category === 'Flexi'
                    }"
                  >
                    {{ recipe.category }}
                  </div>
                  <!-- Título -->
                  <h4>{{ recipe.title }}</h4>
                  <!-- Tiempo -->
                  <p>
                    <i class="fas fa-clock"></i> {{ recipe.preparation_time }} min
                  </p>
                  <!-- Botón -->
                  <button 
                    class="btn-ver-mas"
                    [ngClass]="{
                      'btn-traditional': recipe.category === 'Tradicional',
                      'btn-flexi': recipe.category === 'Flexi'
                    }"
                    (click)="openRecipeModal(recipe)"
                  >
                    Ver más
                  </button>
                </div>
              </div>
            }
          } @else {
            <p>No tienes recetas en tus favoritos.</p>
          }
        </div>
      </div>
    </div>
  </div>
</div>

@if (selectedRecipe) {
  <app-recipe-modal
    [recipe]="selectedRecipe"
    [category]="selectedCategory"
    [portions]="selectedPortions"
    [isUserLoggedIn]="true"
    (closeModalEvent)="closeRecipeModal()">
  </app-recipe-modal>
}
