/* styles.scss */

/* Fondo general de la página */
body {
    background-color: #fff;  /* Puedes cambiar este color a uno que prefieras */
    color: #080808;  /* Color del texto general */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Efecto de scroll */
html {
    scroll-behavior: smooth;
}

/* Modal ajustes */
.modal-dialog {
    max-width: 95%;
    @media (min-width: 768px) {
        max-width: 80%;
    }
    @media (min-width: 1024px) {
        max-width: 70%;
    }
}

/* Aquí podrías definir otros estilos globales como los botones, etc. */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Empujar las recetas hacia abajo para no pisarlas con el header */
  .main-content {
    margin-top: 100px; /* Ajusta según la altura del header */
    padding: 20px;
  }
  
  /* Ajustar la altura del header para que no pise el contenido */
  .header-container {
    position: relative;
    height: 400px; /* Ajusta la altura del header */
    background: linear-gradient(to right, #FF6200, #08AA2B);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  body {
    font-family: 'Poppins', sans-serif; /* O cambia 'Poppins' por la fuente que prefieras */
  }
  
  h1, h2, h3, .navbar, .nav-link, p {
    font-family: 'Poppins', sans-serif; /* Aplica a los títulos, navbar y párrafos */
  }
  
  
  h1 {
    font-weight: 700; /* Extra bold */
  }
  
  p {
    font-weight: 400; /* Regular */
  }
  
  .nav-link {
    font-weight: 600; /* Semi bold */
  }
  