/* styles.scss */

/* Fondo general de la página */
body {
    background-color: #fff;  
    color: #080808;  
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Efecto de scroll */
html {
    scroll-behavior: smooth;
}

/* Estilos del modal */
.modal-dialog {
    max-width: 95%;
    @media (min-width: 768px) {
        max-width: 80%;
    }
    @media (min-width: 1024px) {
        max-width: 70%;
    }
}

/* Ajustes generales */
body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    margin-top: 100px; /* Para dar espacio con el header */
    padding: 20px;
}

.header-container {
    height: 400px;
    background: linear-gradient(to right, #FF6200, #08AA2B);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Tipografías globales */
body, h1, h2, h3, .navbar, .nav-link, p {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
}

p, .nav-link {
    font-weight: 400;
}

.nav-link {
    font-weight: 600;
}
